# .env.example
DATABASE_URL=postgresql://user:password@host:port/dbname
FLASK_DEBUG=1
PORT=5000
DEFAULT_KEYWORD=버거

UPLOAD_S3=true
S3_BUCKET=your-bucket-name
AWS_REGION=ap-northeast-2
AWS_DEFAULT_REGION=ap-northeast-2
S3_PREFIX=reviews/버거

AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY

CRAWL_KEYWORD=버거

# 아래 3개는 로컬 Docker PostgreSQL용이라 EC2 접속에는 보통 안 씀
#POSTGRES_USER=postgres
#POSTGRES_PASSWORD=precap
#POSTGRES_DB=tastebridge
